.profileImageContainer {
  padding-left: 1rem;
}

.profileContainer {
  padding-top: 1rem;
}

.rs-help-block {
  font-size: 0.8rem;
}

.rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {
  margin-bottom: 14px;
}

.inputRequired {
  color: crimson;
}